<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cms.model.mapper.WebconfigMapper" >
  <resultMap id="BaseResultMap" type="com.cms.model.bean.Webconfig" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="confname" property="confname" jdbcType="VARCHAR" />
    <result column="confvalue" property="confvalue" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, confname, confvalue
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from webconfig
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from webconfig
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cms.model.bean.Webconfig" >
    insert into webconfig (ID, confname, confvalue
      )
    values (#{id,jdbcType=INTEGER}, #{confname,jdbcType=VARCHAR}, #{confvalue,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cms.model.bean.Webconfig" >
    insert into webconfig
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="confname != null" >
        confname,
      </if>
      <if test="confvalue != null" >
        confvalue,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="confname != null" >
        #{confname,jdbcType=VARCHAR},
      </if>
      <if test="confvalue != null" >
        #{confvalue,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cms.model.bean.Webconfig" >
    update webconfig
    <set >
      <if test="confname != null" >
        confname = #{confname,jdbcType=VARCHAR},
      </if>
      <if test="confvalue != null" >
        confvalue = #{confvalue,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cms.model.bean.Webconfig" >
    update webconfig
    set confname = #{confname,jdbcType=VARCHAR},
      confvalue = #{confvalue,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>